.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  text-align: center;

  color: rgba(255, 255, 255, 100);
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
